@font-face {
	font-family:Montserrat-Light;
	src: url('../media/fonts/Montserrat/Montserrat-Light.otf');
}

body {
    padding-top: 70px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-dropdown {
    padding-top:10px;
    padding-bottom: 10px;
}

.bg1{
    background-color:#00B0F4;
    color:white;
    font-family: "Montserrat-Light", Segoe UI, serif;
    padding-top:3%;
    padding-bottom:5%;
}

.bg1 h1 {
    font-size:48px;
}

.bg1 img {
    margin: 50px 0px;
}

.bg1 p {
    font-size:22px;
}

.nav-style {
    border:0;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    letter-spacing: 3px;
    font-family: "Montserrat-Light", Segoe UI, serif;
    font-size: 1.2em;
}


.bg2{
    background-color:#004580;
    color:white;
    font-family: "Montserrat-Light", Segoe UI, serif;
    padding-top:3%;
    padding-bottom:5%;
    padding-left:15%;
    padding-right:15%;
    line-height:150%;
}
.bg2 h4 {
    line-height:150%;
}

.about-header {
    color:white;
}

.bg3{
    background-color:#F5FFE4;
    color:#404040;
    font-family: "Montserrat-Light", Segoe UI, serif;
    padding-top:3%;
    padding-bottom:5%;
    line-height:150%;
}

.bg3 h4 {
    line-height:150%;
    color:#555555;
}

.project-rows {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}

.bg4{
    background-color:#002240;
    color:white;
    font-family: "Montserrat-Light", Segoe UI, serif;
    padding-top:2%;
    padding-bottom:2%;
    line-height:75%;
}

.icon-links {
    max-width:120px;
    padding-bottom:5px; 
    padding-top:10px;
    padding-left:10px;
}

.white-links{
    color:white;
    text-decoration:none;
}

.white-links:hover{
    color:white;
}

.bg5{
    background-color:white;
    padding:0;
}

